<footer class="footer footer-transparent d-print-none mt-auto">
  <div class="container-xl mt-2 px-md-4">
    <div class="row text-center align-items-center flex-row-reverse">
      <div class="col-lg-auto ms-lg-auto">
        <ul class="list-inline list-inline-dots mb-0">
          <li class="list-inline-item">
            <a href="/api/docs" class="link-secondary">Documentation</a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/openrfsense/backend" target="_blank" class="link-secondary"
              rel="noopener">Source code</a>
          </li>
          <li class="list-inline-item"><a href="https://github.com/openrfsense/backend/blob/master/LICENSE"
              class="link-secondary">License</a></li>
        </ul>
      </div>
      <div class="col-12 col-lg-auto mt-3 mt-lg-0">
        <ul class="list-inline list-inline-dots mb-0">
          <li class="list-inline-item">
            <img src="/static/favicon.svg" width="20" height="20" alt="Favicon">
          </li>
          <li class="list-inline-item align-middle">
            Part of the
            <a href="https://github.com/openrfsense" class="link-secondary">OpenRFSense</a> project.
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>