<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OpenRFSense</title>
  <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">

  <link rel="stylesheet" href="/static/tabler.min.css">
  <link rel="stylesheet" href="/static/leaflet.css">
  <link rel="stylesheet" href="/static/app.css">
  <script src="/static/tabler.min.js"></script>
  <script src="/static/leaflet.js"></script>
</head>