<header class="navbar navbar-expand-md navbar-light d-print-none">
  <div class="container-xl">
    <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
      <a href=".">
        <img src="static/logo.svg" alt="OpenRF" class="navbar-brand-img" width="110" height="32">
      </a>
    </h1>
    <div class="navbar-nav flex-row order-md-last">
      <div class="d-none d-md-flex">
        <a href="https://github.com/openrfsense/backend" class="nav-link px-0 hide-theme-dark" data-bs-toggle="tooltip" data-bs-placement="bottom" aria-label="See the source code" data-bs-original-title="See the source code">
          <img src="static/icons/brand-github.svg" alt="Github">
        </a>
      </div>
    </div>
  </div>
</header>