{{ template "views/partials/head" }}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
  integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
  integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>
<script src="https://unpkg.com/imask"></script>
<script src="/static/index.js" defer></script>

{{ template "views/partials/content" }}

<div class="mt-2 mt-md-4">
  {{ template "views/index/table" . }}
</div>
<div class="mt-2 mt-md-4">
  {{ template "views/index/map" . }}
</div>

{{ template "views/index/alert" . }}
{{ template "views/index/modal" . }}

{{ template "views/partials/end" }}